

#state_capital_boxes{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
}

.capital_drag_box{
  padding: 1px;
  border: black solid 1px;
  background-color: #ffffb1;
}

body {
    margin: 0px;
    box-sizing: border-box;
}

#map {
    width: 100vw;
    height: 80vh;
    background-image: url(https://ontheworldmap.com/usa/usa-states-map-max.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
}

.mapboxes {
    width: 20px;
    height: 5px;
    border: 2px solid black;
}
