

body {
  background-color: green;
  margin: 0px;
  box-sizing: border-box;
}

#state_capital_boxes{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
}

.capital_drag_box{
  padding: 1px;
  border: black solid 1px;
  background-color: #ffffb1;
}

#map {
    width: 100vw;
    height: 80vh;
    background-image: url(https://images7.alphacoders.com/687/thumb-1920-687665.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
    position: relative;
}

.mapboxes {
    position: absolute;
    height: 2%;
    border: 2px solid black;
}

.redBack{
  background-color: red;
}
